.feature-card {
    width: 180px;
    height: 150px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    transition: transform 0.3s;
}

.feature-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background-color: #cc99ff; /* Optional: Change background color */
    cursor: pointer;
}

.link-wrapper {
    text-decoration: none;
    color: inherit;
}