.overdue-bill-page {
    min-height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
  }
  
  .table-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .overdue-table {
    width: 70%; /* Adjust width as needed */
    border-collapse: collapse;
    margin: 0 auto; /* Center the table */
  }
  
  .overdue-table th,
  .overdue-table td {
    padding: 10px;
    text-align: left;
    color: #333; /* Darker color for text */
    font-size: 18px; /* Increase font size */
    font-weight: bold; /* Make text bolder */
  }
  
  .overdue-table th {
    font-size: 20px; /* Increase font size for headers */
  }
  
  .overdue-table td {
    background-color: none; /* Ensure rows have no background */
  }

  
  .overdue-table input[type="checkbox"] {
    width: 20px; /* Increase checkbox size */
    height: 20px; /* Increase checkbox size */
  }
  .menu-buttons {
    display: flex;
    justify-content: center;
    margin: 100px 0;
  }
  
  .menu-buttons .btn {
    margin: 0 20px;
  }