.snooze-bill-page {
    min-height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
  }
  
  .table-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .bill-table {
    width: 70%; /* Adjust width as needed */
    border-collapse: collapse;
    margin: 0 auto; /* Center the table */
  }
  
  .bill-table th,
  .bill-table td {
    padding: 10px;
    text-align: left;
    color: #333; /* Darker color for text */
    font-size: 18px; /* Increase font size */
    font-weight: bold; /* Make text bolder */
  }
  
  .bill-table th {
    font-size: 20px; /* Increase font size for headers */
  }
  
  .bill-table td {
    background-color: none; /* Ensure rows have no background */
  }
  
  .bill-table input[type="checkbox"] {
    width: 20px; /* Increase checkbox size */
    height: 20px; /* Increase checkbox size */
  }
  
  .action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    justify-content: center;
  }
  .action-buttons .btn-success {
    margin-left: 30px; 
}
.menu-buttons {
  margin-top: -10px; 
}
.btn-success {
  white-space: nowrap;
  padding: 10px 20px; /* Adjust padding as needed */
}

  
  .action-buttons div {
    display: flex;
    align-items: center;
  }
  
  .action-buttons label {
    margin-right: 10px;
  }

  .menu-buttons {
    display: flex;
    justify-content: center;
    margin: 50px 0;
  }
  
  .sort-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .date-picker {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1rem;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination span {
  font-weight: bold;
}
