.success-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: white;
    text-align: center; /* Ensure that text aligns center */
    border-radius: 20px;
}

.success-container {
    display: inline-block; /* Ensure the container takes up only the space it needs */
    text-align: center;
    padding: 50px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
}

.success-icon {
    font-size: 80px;
    color: #28a745;
    margin-bottom: 20px;
}

.success-heading {
    font-size: 36px;
    color: #28a745;
    margin-bottom: 20px;
}

.success-message {
    font-size: 18px;
    color: grey;
    margin-bottom: 30px;
    font-weight: bold;
}

.btn-success, .btn-secondary {
    margin: 10px;
}